<div class='row'>
  <h1 class='large-4 columns'>Some Crap In Here</h1>
  <h1 class='large-4 columns'>More Crap Here</h1>
  <h1 class='large-4 columns'>Best Crap Here</h1>
</div>

<div class='row hide-me'>
  <h1 class='internship'>The internship is the best movie ever</h1>
  <h1 class='seen'>Have you seen it?</h1>
  <button type="submit" class='button pink'>Yes</button>
</div>
